<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="e.plass.acceuilwayfinding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LeveeDeFondActivity"></activity>
        <activity android:name=".SalleMangerActivity" />
        <activity android:name=".MeubleActivity" />
        <activity android:name=".FauteuilMaisonActivity" />
        <activity android:name=".OldCarActivity" />
        <activity android:name=".NewCarActivity" />
        <activity android:name=".PickupActivity" />
        <activity android:name=".BerlineActivity" />
        <activity android:name=".FauteuilActivity" />
        <activity android:name=".ConferenceTable" />
        <activity android:name=".TableActivity" />
        <activity android:name=".model.ChaiseActivity" />
        <activity android:name=".TelevisionActivity" />
        <activity android:name=".MachineLaverActivity" />
        <activity android:name=".FroidActivity" />
        <activity android:name=".CuisiniereActivity" />
        <activity android:name=".AspirateurActivity" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".DesktopActivity" />
        <activity android:name=".LaptopActivity" />
        <activity android:name=".ImprimenteActivity" />
        <activity android:name=".EcranActivity" />
        <activity android:name=".ProduitAutomobileActivity" />
        <activity android:name=".ProduitMaisonActivity" />
        <activity android:name=".ProduitMenagerActivity" />
        <activity android:name=".ProduitBureauActivity" />
        <activity android:name=".ProduitInformatiqueActivity" />
        <activity android:name=".AutomobileActivity" />
        <activity android:name=".MaterielMaisonActivity" />
        <activity android:name=".model.BureauActivity" />
        <activity android:name=".model.ElectromenagerActivity" />
        <activity android:name=".DetailInformatiqueActivity" />
        <activity android:name=".entree3" />
        <activity android:name=".entree2" />
        <activity android:name=".entre1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".ProfileActivity2" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DetailFormationActivity"
            android:launchMode="singleTop" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".Aceuil"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Inscription" />
        <activity android:name=".Connexion" />
        <activity android:name=".Profile">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASYRhE9O63rlLjXNZUiGbGNqmJtGWj-qk" />
    </application>

</manifest>